<% provide(:title, @user.name) %>

<div class="row" style="margin-left: 350px;">
  <%= gravatar_for @user %>
</div>

<div class="row" style="text-align: center;">
  <%= @user.name %>
</div>

<div class="row" style="margin-left: 350px;">
  <%= render 'shared/stats' %>
</div>

<div class="col-md-12">
  
  <% render 'follow_form' if logged_in? %>
  
  <% if @user.events.any? %>
    <h3>Events (<%= @user.events.count %>)</h3>
    <ol class="event-row">
      <%= render @events %>
    </ol>
    <%= will_paginate @events %>
  <% end %>
</div>