<% provide(:title, @user.name) %>

<div class="user-info">
  <%= gravatar_for @user %>
  <div class="user-name">
    <%= @user.name %>  
  </div>
</div>

<% render 'shared/stats' %>

<div class="col-md-12">
  
  <% render 'follow_form' if logged_in? %>
  
  <% if @user.events.any? %>
    <h3>Events (<%= @user.events.count %>)</h3>
    <ol class="event-row">
      <%= render @events %>
    </ol>
    <%= will_paginate @events %>
  <% end %>
</div>