<%= render 'shared/error_messages', object: f.object %>

  <div class="field">
    <%= f.label :title, 'Event Title' %>
    <%= f.text_field :title %>
  </div>
  <br>
  <div class="form-inline event_time">
    <% # dates_array = (Date.current..1.month.from_now.to_date).map{ |date| date.strftime("%A,%e %B") } %>
    
    <% dates_array = Date.current..1.month.from_now.to_date %>
    <% minutes_array = ['00','05','10','15','20','25','30','35','40','45','50','55'] %>
    
    <div class="event_start_date">
      <%= f.input :date_start, label: 'Event Date', collection: dates_array %>
    </div>
    <div class="event_start_hour">
      <%= f.input :time_start_hour, label: 'Time', collection: 0..23 %>
    </div>
    <div class="event_start_minute">
      <%= f.input :time_start_minute, label: ':', collection: minutes_array %>
    </div>
    <a class="show_endtime">add end date?</a>
  </div>
  
  <div class="form-inline event_time change_endtime_css">
    <%= f.input :date_end, label: 'Event End Date', collection: dates_array %>
    <%= f.input :time_end_hour, label: 'Time', collection: 0..23 %>
    <%= f.input :time_end_minute, label: ':', collection: minutes_array %>
  </div>
  
  <div class="event_location">
    <%= f.label 'Event Location' %>
    <%= f.select :court_id, options_for_select(@courts.collect { |court| [court.name, court.id] }, @event.court_id), {}, { id: 'courts_select' } %>
    <%= f.select :house_id, options_for_select(@houses.collect { |house| [house.name, house.id] }, @event.house_id), {}, { id: 'houses_select' } %>
  </div>
  
  <div class="event_type">
    <%= f.label 'Event Type' %>
    <%= f.select :category_id, options_for_select(@categories.collect { |category| [category.name, category.id] }, @event.category_id ) %>
  </div>
  
  <div class="field">
    <%= f.label :description %>
    <%= f.text_area :content, placeholder: "Compose a new event..." %>
  </div>
  
  <span class="picture">
    <% f.file_field :picture, accept: 'image/jpeg,image/gif,image/png' %>
  </span>
  
  <br>
  
<script type="text/javascript">

  $('#event_picture').bind('change', function() {
    var size_in_megabytes = this.files[0].size/1024/1024;
    if (size_in_megabytes > 5) {
      alert('Maximum file size is 5MB. Please choose a smaller file.');
    }
  });
  
  $(".show_endtime").on("click", function(){
    $('.change_endtime_css').css('display', 'block');
  })
    
</script>